<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr1UmWFcrYi00RdYgk-8XGytrLcOUVl9c</string>
	<key>GCM_SENDER_ID</key>
	<string>206930114075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oshikatsuProduct.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>oshikatsu-dev-8bb0d</string>
	<key>STORAGE_BUCKET</key>
	<string>oshikatsu-dev-8bb0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206930114075:ios:04fda9f27b13426a46eabe</string>
	<key>DATABASE_URL</key>
	<string>https://oshikatsu-dev-8bb0d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>